.container {
  background-color: #fff;
  width: 40%;
  margin-top: 20px;
  padding: 25px;
}

a {
  cursor: pointer;
  color: blue !important;
}

a:hover {
  text-decoration: underline !important;
}

p {
  word-break: break-word;
  margin-bottom: 0 !important;
}

h3 {
  word-break: break-word;
}
