/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e7edf2 !important;
  overflow-x: hidden;
}

.btn-primary {
  background-color: #37d8d8 !important;
  border-color: #37d8d8 !important;
}

@import "../node_modules/ngx-toastr/toastr.css";
